.post{
    width: 385px;
    margin: 0 25px 40px 25px;
}
.postImg {
    width: 100% !important;
    height: 280px !important;
    object-fit: cover !important;
    border-radius: 7px !important;
  }
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCat{
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: rgb(84, 84, 84);
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform .3s ease;
}
.postCat:hover{
    transform: scale(1.2);
}
.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    transition: transform .3s ease;
}
.postTitle:hover{
    transform: scale(1.2);
}
.postDate{
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    color: rgb(84, 84, 84);
    margin-top: 15px;
}
.postDesc{
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}