.sidebar{
    flex: 3;
    margin: 0 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 235, 168);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid rgb(207, 206, 206);
    border-bottom: 1px solid rgb(207, 206, 206);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
.img{
    width: 260px;
    height: 230px;
    border-radius: 20px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebaritem > p{
    padding: 30px;
}
.sidebarList{
    margin-bottom: 30px;
}
.sidebarListItem{
    list-style: none;
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    transition: transform .3s ease;
}
.sidebarListItem:hover{
    transform: scale(1.1);
}
.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .3s ease;
}
.sidebarIcon:hover{
    transform: scale(1.2);
}